<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <div>
        <h1><a href="#">Blog kulinarny</a></h1>

    </div>
    <div>
        <p>20.06.2020, 14.45</p>
        <h1>Pierwszy post</h1>
        <p>Siemanko, witajcie w mojej kuchni
        Dzisiaj udowodnie wam, u-do-wod-nie wam!
        Ze jedziedze z marketu, znacznie rozni sie od restauracyjnego.</p>
    </div>
    <div>
        <p>21.06.2020, 12.45</p>
        <h1>Drugi post, juz troche śmielej</h1>
        <p>Dzisiaj, porozmawiamy o tym, jak łatwo mozemy skarmelizować cebule.
        Oto prosta podpowiedz:</p>
        <p>Dolewamy wody do cebuli i czekamy az wyparuje, ponawiamy czynnosc 3-4 razy. Dziekuje za uwage.</p>
    </div>
</body>
</html>